[submodule "luci-theme-rosy"]
	path = luci-theme-rosy
	url = https://github.com/rosywrt/luci-theme-rosy.git
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
